:root {
  --mainBlue: #2e294e;
  --lightBlue: #b3c2f2;
  --mainWhite: #eadeda;
  --mainDark: #253031;
  --mainYellow: #ffa400;
}
body {
  font-family: "Andada Pro", serif !important;
  background: var(--mainWhite) !important;

  color: var(--mainDark) !important;
}
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
.text-title {
  font-family: "Kalam", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.btn-blk {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-blk:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
